html, body {
	width: 100%;
	height: 100%;
}
body {
	padding: 0 2% 2% 2%;
}
.green-box {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #22B573;
}

/* Header Style */
header {
	width: 100%;
	height: ;
}
.navigation {
	position: absolute;
	top: 21px;
	left: 37px;
}
.nav-li {
	display: inline-block;
}
.nav-li a {
	color: #fff;
	font-size: 38px;
	text-transform: uppercase;
	font-family: 'PT Serif';
}
.nav-li {
	margin-left: 60px;
}
.logo {
	position: absolute;
	right: 37px;
	top: 37px;
}
/* Main Body Style */
.white-box {	
	width: 618px;
	height: 400px;
	position: absolute;
	left: 0px;
	bottom: 0px;
    background-color: #fff;
}
.green-box2 {
	width: 300px;
	height: 300px;
	background-color: #006837;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.animated-text {
	font-size: 39px;
	color: #FFFF00;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	white-space: nowrap;
}
.read-more {
	position: absolute;
	right: 7px;
	bottom: 0px;
	font-size: 14px;
	text-transform: uppercase;
}
.read-more a{
	color: #39B54A;
}
.created {
	color: #FCEE21;
	font-size: 14px;
	position: absolute;
	right: 13px;
	bottom: 13px;
}
.green-box2:hover {
	background-color: #FFFF00;

}
.green-box2:hover .animated-text {
	color: #C1272D;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	white-space: nowrap;
	transition: all 2s ease-in 0.2s;

}